# Copyright (c) 2024 Iacopo Moles
# SPDX-License-Identifier: Apache-2.0

if BOARD_PNCATEHO_WELCOME_BOARD

if I2C_DW

config I2C_DW_CLOCK_SPEED
	default 125

endif # I2C_DW

endif # BOARD_PNCATEHO_WELCOME_BOARD
